  <div class="container">


<button class="btn btn-primary" type="button">
  Broj postova <span class="badge">{{ counter }}</span>
</button>
<button id="stop" class="btn btn-danger" type="button">
Stop
</button>
<button id="start" class="btn btn-danger" type="button">
Spoji se
</button>
<button id="startData" class="btn btn-danger" type="button">
Primaj podatke
</button>
<br>
<br>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">K</span>
  <input type="text" class="form-control" placeholder="Unesite pojam za pretraživanje" id="key" aria-describedby="basic-addon1">
</div>
<br>
<br>

<div class="panel panel-success">
  <div class="panel-heading"><h3 class="panel-title">Posljedni post</h3></div>
  <div class="panel-body">
    <div class="alert alert-danger" role="alert">{{tweet.value}}</div>
  </div>

</div>

</div>


<div id="map_canvas"></div>
<ul>
   <li *ng-for="#name of meanStack">
      {{ name }}
   </li>
</ul>

<p *ng-if="tweets.length > 100"> Ucitano je prvih 100 postova! </p>
<input id="tweet" #tweet hidden>
<input id="user" #user  hidden>
    <button id="tweeter" (click)="addTweet(tweet.value)" hidden>Add Tweet</button>
    <button id="userr" (click)="addUser(user.value)" hidden>Add User</button>
    <table class="table table-hover">
    <thead>
        <th>#</th>
      <th>Tweet</th>
      <th>Korisnik</th>
    </thead>
    <tbody>
       <tr *ng-for="#names of tweets">
          <th scope="row"></th>

          <td><a href="https://twitter.com/{{ names.user }}">{{ names.tweet }}</a></td>
          <td><a href="https://twitter.com/{{ names.user }}">{{ names.user }}</a></td>
      </tr>
     </tbody>
     </table>
